* {
	margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: #fff;
    width: 100%;
    height: 100%;
    font-size: 62.5%; /* 1 em = 10 px */
}

/* Page structure */

.wrapper {
	width: 100%;
	position: relative;
}

.wrapper > .header {
	height: 500px;
	color: white;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    
    -webkit-justify-content: space-around;
    justify-content: space-around;
    
    -webkit-align-items: center;
    align-items: center;
    
    text-align: center;
}

.wrapper > .header > * {
	align-self: center;
}

.wrapper > .content > section {
	position: relative;
	box-shadow: 0px 0px 10px black;
	z-index: 10;
    
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
	-webkit-justify-content: center;
    justify-content: center;
    
	background-color: white;
}

.wrapper > .content > section > .section-wrapper {
	width: 900px;
	display: flex;
}

.wrapper > .content > section > .section-wrapper > .section-column {
	padding: 25px;
	width: 100%;
}

.wrapper > .content > section > .section-wrapper > .section-column > .section-content {
}

.wrapper > .content > .section-split {
	position: relative;
	height: 150px;
	background-color: transparent;
}

/* Fonts */

.content, #googleMap content {
    font-family: "adriane";
}

.header {
    font-family: "grafolita-script";
}

h1 {
    font-size: 4em;
}

h2 {
	font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* Backgrounds */

.tree-img {
	background: url(img/tree-img.jpg) no-repeat center center fixed;
}

.kissing-img {
	background: url(img/kissing-img.jpg) no-repeat center center fixed;
}

.bg-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tall-img {
	margin-top: -50%;
	width: 100%;
}

.wide-img {
	margin-left: -50%;
	height: 100%;
}

/* Icons */

svg {
	width: 100%;
	height: 100%;
}

.heart-svg {
	width: 25px;
	height: 25px;
	fill: white;
	display: inline-block;
}

/* Google Map */

#googleMap {
	width: 100%;
	height: 300px;
}

/* Responsive */

/* -- iPhone 4 -- */
@media (-webkit-min-device-pixel-ratio: 2)
{
    body {
        font-size: 160%;
    }
    
    .heart-svg {
        width: 60px;
        height: 60px;
    }
    
    #googleMap {
        height: 600px;
    }
    
    .wrapper > .header {
        height: 900px;
    }
    
    .wrapper > .content > .section-split {
        height: 300px;
    }

}